# Python
__pycache__/
*.pyc
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-arg.txt

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/
#*.csv

# IDEs and other
.vscode/
*.log
*.tmp
*.bak